@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    font-family: 'Montserrat' !important;
}

.pagination-wrapper div:first-child {
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.pagination-wrapper div:last-child {
    flex-direction: column;
}

.pagination-wrapper div:last-child div:first-child {
    margin-top: 25px;
}